.news-item {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  
    a {
        color: #333;
        text-decoration: none;
        font-size: 18px;
    
        &:hover {
            text-decoration: underline;
        }
    }
}
  