{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 120,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "auto",
    "xmlSelfClosingSpace": false,
    "xmlQuoteAttributes": "single",
    "xmlWhitespaceSensitivity": "ignore"
}
